@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

.papa {
  position: absolute;
  width: 662px;
  height: 374px;
  left: 124px;
  top: 202px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
}

.photo {
  position: absolute;
  width: 232px;
  height: 203px;
  left: 124px;
  top: 670px;

  background: url(photo.png);
}

body {
  position: relative;
  width: 1440px;
  height: 1046px;

  background: #ffffff;
}

.phototwo {
  position: absolute;
  width: 314px;
  height: 315px;
  left: 976px;
  top: 226px;

  background: url(_1.png);
}

.three {
  position: absolute;
  width: 150px;
  height: 39px;
  left: 976px;
  top: 740px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 130%;
}

.two {
  position: absolute;
  width: 150px;
  height: 39px;
  left: 733px;
  top: 740px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 130%;
}

.one {
  position: absolute;
  width: 150px;
  height: 39px;
  left: 488px;
  top: 740px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 130%;
}

.threealt {
  position: absolute;
  width: 150px;
  height: 39px;
  left: 976px;
  top: 780px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
}

.twoalt {
  position: absolute;
  width: 150px;
  height: 39px;
  left: 733px;
  top: 780px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
}

.onealt {
  position: absolute;
  width: 150px;
  height: 39px;
  left: 488px;
  top: 780px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  /* or 23px */

  color: #000000;
}

h1 {
  position: absolute;
  width: 365px;
  height: 93px;
  left: 124px;
  top: 91px;

  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 101.38%;
}
